
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: "Lato", serif;
}

.heroContainer {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 5px solid #ff6b81; /* Adds a bottom border */
}

.heroImage {
  width: 100%;
  height: 100vh;
  /* object-fit: contain;  */
}

.foverlay {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  width: 100%;
}

.title {
  font-family: 'Fraunces', serif;
  font-size: 38px;
  font-weight: normal;
  margin: 100px 0px 10px 0px;
}

.mtitle{
  font-family: 'Fraunces', serif;
  font-size: 38px;
  font-weight: normal;
  margin: 100px 0px 10px 0px;
  display: none;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.waitlistButton {
  background: #ff97a8;
  color: #000;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.waitlistButton:hover {
  background: #ff4f64;
}

.missionSection {
  text-align: center;
  padding: 0px 20px 50px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.headingone {
  font-weight: normal;
  font-family: 'Fraunces', serif;
  font-size: 24px;

  margin-bottom: 10px;
}

.hearts {
  color: #ff6699;
  font-size: 22px;
  margin-left: 5px;
}

.text {
  font-family: 'Lato', serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

.purpose {
  font-family: 'Lato', serif;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

.highlight {
  font-family: 'Lato', serif;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0px;
}

.highlight strong {
  font-family: 'Lato', serif;
  color: #222;
}

.stress {
  color: #ff6699;
}

.subtext {
  font-family: 'Lato', serif;
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.missionImage {
  width: 512px;
  height: 276px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.waitingSection {
  position: relative;
  width: 100%;
  height: 433px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headingtwo {
  font-family: 'Fraunces', serif;
  font-weight: normal;
  font-size: 24px;
  /* font-weight: bold; */
  margin-bottom: 10px;
}

.gtext {
  font-family: 'Lato', serif;
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 20px;
  color: white;
}
.mtext{
  font-family: 'Lato', serif;
  display: none;
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 20px;
  color: white;
}

.waitingButton {
  background: #ff6699;
  border: none;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

.waitingButton:hover {
  background: #ff3366;
}

.icon {
  font-size: 18px;
}

@media (min-width: 300px) and (max-width: 431px) {
  .hero {
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logoImage {
    width: 90%;
    height: 90%;
    margin-bottom: 10px;
    display: none;
  }

  .heroImage {
    width: 100%;
    height: auto;
  }

  .foverlay {
    position: absolute;
    top: 92%;
    left: 0px;
    transform: translateY(-50%);
    text-align: left;
    color: white;
    width: 100%;
  }
  .subtitle{
    padding-left: 10px;
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: white;
  }
  .waitlistButton {
    margin-left: 10px;
    margin-top: 40px;
  }
  .title {
    display: none;
    font-size: 28px;
  }
  .mtitle{
    padding-left: 10px;
    display: block;
    font-size: 28px;
  }

  .backgroundImage{
   
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    
  }
  .missionSection{
   padding-top: 80px;
  }
  .gtext{
    display: none;
  }
  .mtext{
    display: block;
  }
  .missionImage {
    width: 312px;
    height: 169px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }
  .headingone{
    margin-left: 30px;
    text-align: left;
  }
  .hearts{
    margin-left: 135px;
  }
}

